body{
	width: 100%!important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.navbar {
	list-style-type: none;
  overflow: hidden;
}

.navbar li {
	text-align: center;
	float: left;
	width: 225px;
	border-right: 1px solid #A9A9A9;
}

.navbar li a {
	display: inline-flex;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
  color: #696969;
}

.navbar_active {
	color: #ff6726 !important;
	border-bottom: 2px solid #ff6726;
}

.navbar_active a {
	color: #ff6726 !important;
}

.counter {
	color: #ff6726;
	font-style: italic;
	font-weight: bold;
	margin-left: 10px; 
}

.navbar li a svg {
	margin-right: 10px;
}

.main_img {
	width: 35em;
}

.small_img {
	width: 35px;
	height: 30px;
	margin-left: 0.5em;
	margin-top: 2em;
	border-color: #DCDCDC;
}

.small_main_img {
	border-color: green;
	margin-top: 2em;
}

.item_img {
	text-align: center;
}

.pointer_left {
	transform: rotate(270deg);
	margin-bottom: 8px;
}

.pointer_right {
	transform: rotate(90deg);
	margin-bottom: 8px;
}

.main_img {
	padding-top: 3em;
	padding: 3.5em;
}

.item_name {
	text-align: center;
	font-family: sans-serif;
	vertical-align: top;
	border-left: 5px solid #DCDCDC;
}

.table {
	border-top: 5px solid #DCDCDC;
}

.item_info {
	list-style-type: none;
	display: flex;
	color: #808080;
	font-family: sans-serif;
}

.item_sticker {
	list-style-type: none;
	display: flex;
}

.item_sticker li {
	margin: 5px;
}

.old_price {
	font-family: sans-serif;
	font-weight: bold;
	font-size:23px;
	color: #808080;
	text-align: left;
	margin-right: 22em;
}

.old_price_line {
	color: red;
	text-decoration: line-through;
}

.current_price {
	text-align: left;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-right: 4em;
}

.rating {
	text-decoration: none;
	color: #808080;
}

.price {
	list-style-type: none;
	text-align: left;
	display: block;
	margin-left: 3em;
}

.orange_price {
	color: #ff6726;
}

.sale {
	font-size: 16px;
	font-weight: 400;

}

.act_with_product {
	margin-right: 0.5em;
}

.buy {
	width: 285px;
	height: 55px;
	border:none;
	background-color: #ff6726;
	cursor: pointer;
	margin-left: 0.5em;
	color: white;
	margin-top: 20px;
}

.buttons {
	display: flex;
	list-style-type: none;
}

.buttons span {
	font-family: sans-serif;
	font-size: 17px;
}

.debt {
	width: 285px;
	height: 55px;
	border:none;
	background-color: #0101ef;
	cursor: pointer;
	margin-left: 0.5em;
	color: white;
	margin-top: 20px
}

.additional {
	font-family: sans-serif;
	text-align: left;
	margin-left: 3em;
	margin-top: 3em;
	color: #808080;
	font-weight: bold;
}

.smile_img {
	height: 100%;
  width: 100%;
}

.ser_left_2{
	border-right: 1px solid #DCDCDC;
	width: 82%;
}

.ser_left_2 p {
	font-size: 12px;
}

.ser_left_1{
	margin-right: 5%;
	width: 10%;
}

.service {
	padding: 0 5%;
}

.ser_left div{
	float: left;
}

.ser_left, .ser_right{
	float: left;
}

.ser_left{
	padding: 2%;
	text-align: left;
	width: 65%;
}

.ser_right{
	width: 30%;
}

.ser_right {
	font-size: 24px !important;
	font-weight: 300;
}

.service span {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.info_icon {
	margin-left: 10px;
}

.happy_service {
	text-decoration-style: dotted;
	text-decoration-color: gray;
	color: black;
}

.orange_service a {
	text-decoration-color: gray;
	text-decoration-style: dotted;
	color: #ff6726;
}

.orange_service svg {
	margin-left: 5px;
}

.add {
	margin-top: 15px;
	width: 100px;
	height: 25px;
	border-radius: 10px;
	border:none;
	background-color: #ff6726;
	color: white;
}

.add span {
	font-size: 12px;
}